._atom_frm__checkbox {
	box-sizing: border-box;
	appearance: none;
	outline: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: var(--atom_frm__checkbox_height);
	margin: 0 0 0 6px;
	padding: 0;
	cursor: pointer;
	box-shadow: var(--atom_frm__checkbox_box_shadow, none);
	border: none;
	background-color: var(--atom_frm__checkbox_background_color, var(--atom_color_gray));
	transition: background-color .3s, box-shadow .3s;
}

._atom_frm__checkbox:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: auto;
	bottom: auto;
	transition: transform .3s ease, opacity .2s, box-shadow .3s;
}

._atom_frm__checkbox + span,
._atom_frm__checkbox + label {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		margin: var(--atom_frm__checkbox___plus___label_and_span_margin);
}

._atom_frm__checkbox:checked {
	--atom_frm__checkbox_background_color: var(--atom_frm__checkbox___checked_background_color);
}

._atom_frm__checkbox:disabled {
	--atom_frm__checkbox_background_color: var(--atom_frm__checkbox___disabled_background_color);
	cursor: not-allowed;
	/*opacity: .9;*/
}

._atom_frm__checkbox:disabled:checked {
	--atom_frm__checkbox_background_color: var(--atom_frm__checkbox___disabled___checked_background_color);
}

._atom_frm__checkbox:disabled + span,
._atom_frm__checkbox:disabled + label {
	cursor: not-allowed;
	opacity: .5;
}

._atom_frm__checkbox:not(._atom_frm__checkbox___switch) {
	width: var(--atom_frm__checkbox_width);
	border-radius: var(--atom_frm__checkbox_border_radius);
}

._atom_frm__checkbox:not(._atom_frm__checkbox___switch):focus {
	--atom_frm__checkbox_box_shadow: var(--atom_frm__checkbox___not_switch___focus_box_shadow);
}

._atom_frm__checkbox:not(._atom_frm__checkbox___switch):after {
	width: var(--atom_frm__checkbox___not_switch___after_width);
	height: var(--atom_frm__checkbox___not_switch___after_height);
	border: var(--atom_frm__checkbox___not_switch___after_border);
	border-top: 0;
	border-left: 0;
	margin: auto;
	top: 41%;
	right: 47%;
	bottom: auto;
	left: auto;
	opacity: var(--atom_frm__checkbox___not_switch___after_opacity, 0);
	transform: translate(50%,-50%) rotate(var(--atom_frm__checkbox___not_switch___after_rotate, 20deg));
	transform-origin: center;
}

._atom_frm__checkbox:not(._atom_frm__checkbox___switch):checked {
	--atom_frm__checkbox___not_switch___after_opacity: var(--atom_frm__checkbox___not_switch___checked_opacity);
	--atom_frm__checkbox___not_switch___after_rotate: var(--atom_frm__checkbox___not_switch___checked_rotate);
}

._atom_frm__checkbox._atom_frm__checkbox___switch {
	width: var(--atom_frm__checkbox_switch_width);
	border-radius: var(--atom_frm__checkbox_switch_border_radius);
}

._atom_frm__checkbox._atom_frm__checkbox___switch:after {
	left: 2px;
	top: 2px;
	border-radius: var(--atom_frm__checkbox_switch___after_border_radius);
	width: var(--atom_frm__checkbox_switch___after_width);
	height: var(--atom_frm__checkbox_switch___after_height);
	box-shadow: var(--atom_frm__checkbox_switch___after_box_shadow, none);
	background-color: var(--atom_frm__checkbox_switch___after_background_color);
	transform: translateX(var(--atom_frm__checkbox_switch___after_translate_x, 0));
}

._atom_frm__checkbox._atom_frm__checkbox___switch:checked {
	--atom_frm__checkbox_switch___after_translate_x: var(--atom_frm__checkbox_switch___checked_translate_x);
}

._atom_frm__checkbox._atom_frm__checkbox___switch:focus {
	--atom_frm__checkbox_switch___after_box_shadow: var(--atom_frm__checkbox_switch___focus_box_shadow);
}

._atom_frm___validation ._atom_frm__checkbox:invalid {
	--atom_frm__checkbox_background_color: var(--atom_frm___invalid);
}

._atom_frm___validation ._atom_frm__checkbox:valid {
	--atom_frm__checkbox_background_color: var(--atom_frm___valid);
}

._atom_frm__checkbox_group {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 0.5em 1em;
}

@media only screen and (min-width: 600px) {
	._atom_frm__checkbox_group {
		grid-template-columns: max-content max-content;
	}
}
