._atom_frm__checkbox {
	@extend %atom_frm_inline_flex_center;
	appearance: none;
	box-sizing: border-box;
	outline: none;
	position: relative;
	height: var(--atom_frm__checkbox_height);
	background-color: var(--atom_frm__checkbox_background_color, var(--atom_color_gray));
	margin: var(--atom_frm__checkbox_margin);
	box-shadow: var(--atom_frm__checkbox_box_shadow, none);
	border: none;
	padding: 0;
	cursor: pointer;
	transition: background-color .3s, box-shadow .3s;
}

._atom_frm__checkbox + span,
._atom_frm__checkbox + label {
		@extend %atom_frm_inline_flex_center;
		cursor: pointer;
		margin: var(--atom_frm__checkbox___plus___label_and_span_margin);
}

._atom_frm__checkbox:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: auto;
	bottom: auto;
	transition: transform .3s ease, opacity .2s, box-shadow .3s;
}

._atom_frm__checkbox:checked {
	--atom_frm__checkbox_background_color: var(--atom_frm__checkbox___checked_background_color);
}

._atom_frm__checkbox:disabled {
	--atom_frm__checkbox_background_color: var(--atom_frm__checkbox___disabled_background_color);
	cursor: not-allowed;
}

// ._atom_frm__checkbox:disabled:checked {
// 	--atom_frm__checkbox_background_color: var(--atom_frm__checkbox___disabled___checked_background_color);
// }

._atom_frm__checkbox:disabled + span,
._atom_frm__checkbox:disabled + label {
	color: var(--atom_frm__label___disabled_color);
	cursor: not-allowed;
}

._atom_frm__checkbox:not(._atom_frm__checkbox___switch) {
	width: var(--atom_frm__checkbox_width);
	border-radius: var(--atom_frm__checkbox_border_radius);
}

._atom_frm__checkbox:not(._atom_frm__checkbox___switch):focus {
	--atom_frm__checkbox_box_shadow: var(--atom_frm__checkbox___not_switch___focus_box_shadow);
}

// ._atom_frm__checkbox:not(._atom_frm__checkbox___switch):after {
// 	width: 100%;
// 	height: 100%;
// 	margin: 0;
// 	border-radius: var(--atom_frm__checkbox___not_switch___after_border_radius);
// 	background-color: var(--atom_frm__checkbox___not_switch___after_background_color);
// 	opacity: var(--atom_frm__checkbox___not_switch___after_opacity, 0);
// 	transform: scale(var(--atom_frm__checkbox___not_switch___after_scale, 0));
// 	transform-origin: center;
// }

// ._atom_frm__checkbox:not(._atom_frm__checkbox___switch):checked {
// 	--atom_frm__checkbox___not_switch___after_opacity: var(--atom_frm__checkbox___not_switch___checked_opacity);
// 	--atom_frm__checkbox___not_switch___after_scale: var(--atom_frm__checkbox___not_switch___checked_scale);
// }

._atom_frm__checkbox:not(._atom_frm__checkbox___switch):after {
	width: var(--atom_frm__checkbox___not_switch___after_width);
	height: var(--atom_frm__checkbox___not_switch___after_height);
	border: var(--atom_frm__checkbox___not_switch___after_border);
	border-top: 0;
	border-left: 0;
	margin: auto;
	top: 41%;
	right: 47%;
	bottom: auto;
	left: auto;
	opacity: var(--atom_frm__checkbox___not_switch___after_opacity, 0);
	transform: translate(50%,-50%) rotate(var(--atom_frm__checkbox___not_switch___after_rotate, 20deg));
	transform-origin: center;
}

._atom_frm__checkbox:not(._atom_frm__checkbox___switch):checked {
	--atom_frm__checkbox___not_switch___after_opacity: var(--atom_frm__checkbox___not_switch___checked_opacity);
	--atom_frm__checkbox___not_switch___after_rotate: var(--atom_frm__checkbox___not_switch___checked_rotate);
}

// Switch Mode
._atom_frm__checkbox._atom_frm__checkbox___switch {
	width: var(--atom_frm__checkbox_switch_width);
	border-radius: var(--atom_frm__checkbox_switch_border_radius);
}

._atom_frm__checkbox._atom_frm__checkbox___switch:after {
	left: 2px;
	top: 2px;
	border-radius: var(--atom_frm__checkbox_switch___after_border_radius);
	width: var(--atom_frm__checkbox_switch___after_width);
	height: var(--atom_frm__checkbox_switch___after_height);
	box-shadow: var(--atom_frm__checkbox_switch___after_box_shadow, none);
	background-color: var(--atom_frm__checkbox_switch___after_background_color);
	transform: translateX(var(--atom_frm__checkbox_switch___after_translate_x, 0));
}

._atom_frm__checkbox._atom_frm__checkbox___switch:checked {
	--atom_frm__checkbox_switch___after_translate_x: var(--atom_frm__checkbox_switch___checked_translate_x);
}

._atom_frm__checkbox._atom_frm__checkbox___switch:focus {
	--atom_frm__checkbox_switch___after_box_shadow: var(--atom_frm__checkbox_switch___focus_box_shadow);
}

// Validation
._atom_frm___validation ._atom_frm__checkbox:invalid {
	--atom_frm__checkbox_background_color: var(--atom_frm___invalid);
}

._atom_frm___validation ._atom_frm__checkbox:valid {
	--atom_frm__checkbox_background_color: var(--atom_frm___valid);
}
