/* Label */
._atom_frm__label {
	display: block;
	margin: var(--atom_frm__label_margin);
}

._atom_frm__label___checkbox {
	display: inline-grid;
	grid-auto-flow: column;
	grid-template-columns: auto;
	grid-gap: var(--atom_frm__label_grid_gap);
	width: fit-content;
	align-items: flex-start;
}
