/* Label */
._atom_frm__label {
	display: block;
	margin: var(--atom_frm__label_margin);
	color: var(--atom_frm__label_color);
	position: relative;
}

._atom_frm__label:focus,
._atom_frm__label:focus-within {
	color: var(--atom_frm__label___focus_color);
}

._atom_frm__label___radio,
._atom_frm__label___checkbox {
	display: inline-grid;
	grid-auto-flow: column;
	grid-template-columns: auto;
	grid-gap: var(--atom_frm__label___checkbox_radio_grid_gap);
	width: fit-content;
	align-items: flex-start;
	& > span {
		word-break: break-word;
	}
}

._atom_frm__label___required:after {
	content: ' *';
	color: var(--atom_frm__label___required___after_color);
}

._atom_frm__label___disabled {
	color: var(--atom_frm__label___disabled_color);
	cursor: not-allowed;
	&:after {
		color: var(--atom_frm__label___disabled___after_color);
	}
}

._atom_frm__label___toggle {
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

._atom_frm__label___bold {
	font-weight: bold;
}
