._atom_frm__standard {
	background-color: var(--atom_frm__standard_background_color);
	border-color: var(--atom_frm__standard_border_color);
	border-radius: var(--atom_frm__standard_border_radius);
	border-style: var(--atom_frm__standard_border_style);
	border-width: var(--atom_frm__standard_border_width);
	color: var(--atom_frm__standard_color);
}

._atom_frm__standard:disabled {
	background-color: var(--atom_frm__standard___disabled_background_color);
	border-color: var(--atom_frm__standard___disabled_border_color);
	color: var(--atom_frm__standard___disabled_color);
}

._atom_frm__standard:focus {
	background-color: var(--atom_frm__standard___focus_background_color);
	border-color: var(--atom_frm__standard___focus_border_color);
	color: var(--atom_frm__standard___focus_color);
}
